body{
  font-family: 'verdana', sans-serif;
  font-weight: 100;
}



*{
box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: column;
}
.flex-container2{
  display: flex;
  flex-direction: column;
}

.flex-container3{
  display: flex;
  flex-wrap: wrap;
}
.flex-container4{

}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px;
}

.column {
    flex: 100%;
    width: 100%;
    padding: 0 6px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.column p {
  width: 100%;
}
.column h2 {
  width: 100%;
}

.p-wrap {

  max-width: 200px;
  word-wrap: normal;


}






}
/*
@media (min width 500px) {
    .column {
      flex: 50%;
      max-widt: 75%;
    }
}
*/

.extFloycss{
  visibility: hidden;
}


/* -------Dropdown meny------- */

    .buttonForDrop{
        background-color: transparent;
        color: #696969; /*grå*/
        border: 2px solid #696969; /*grå*/
        font-weight: 100;
        letter-spacing: 1px; /*kan økes */
        text-transform: uppercase;
        padding: 2px 4px;
        font-size: 12px;
    }

    .dropdown-content {
        transition:all 0.3s ease-in-out;
        display: none;
        position: absolute;
        background-color: #5F9EA0; /*cadet blue */
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        background-color: #5F9EA0; /*cadet blue */
        color: #696969; /*grå*/
        border: 2px solid #696969; /*grå*/
        font-weight: 100;
        letter-spacing: 1px; /*kan økes */
        text-transform: uppercase;
        padding: 2px 4px;
        font-size: 16px;
        display: block;
        text-align: center;
        background-color: Transparent;

    }
    /* Endre fargen på dropdown ved hover */
    .dropdown-content a:hover {
        background-color: #f1f1f1;
        } /*lys grå*/
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

  /* Endrer fargen på dropdwon-button når dropwdown vises */
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

  /*til map */
 .Style-Kart {
  width: 100%;
  height: 400px;

  }



  #content{
    text-align: center;
    font-size: 14px;
    font-family: monospace;
  }

  #h3 {
    text-align: center;
  }



/* CSS til table */
/* styrer style internt i tabellen */
.tblStyle{
    display: flex;
 flex-wrap: wrap;
 margin: 1 1 3em 2;
 padding: 3;
}
.tblHeader{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: gray;
    color: white;
}
.container-tabell{
margin : 0 auto;
font-size : 4vw;

}
/* Responsive layout - makes a two column-layout instead of four columns */



/* --------Media query-------- */

    /* tablets og større telefoner */
    @media (min-width: 769px){
        .container-tabell{
            font-size : 4vw;
        }
        /* Setter høyde- og breddeverdier til kartet.*/
        .Style-Kart{
            width: 100%;
            height: 500px;
            margin-left: 0px;
        }
    }

    /* Medium enheter - mindre desktopper */
    @media (min-width: 970px){
        .container-tabell{
            font-size : 100%;
        }
        .Style-Kart{
            width: 350px;
            height: 350px;
            margin-left: 10px;
        }
    }
    /* større desktop */
    @media (min-width: 1170px) {
        .column {
            flex: 25%;
            max-width: 50%;
        }
        .flex-container3 {
            flex: 50%;
        }
        .container-tabell {
            font-size : 100%;
        }
        .Style-Kart{
            width: 500px;
            height: 500px;
            margin-left: 20px;
        }
    /*Ekstra store skjermer ---- Gjelder kun sider med tabeller*/
    @media (min-width: 1920px) {
        .Style-Kart{
            width: 650px;
            height: 650px;
            margin-left: 20px;
        }
        .container-tabell{
            font-size : 150%;
        }
    }


}
.flexChildToilet{


}
/* Flexbox for tabell og kart */
/* Gitt verdier som gir rad i desktop og kollonne i mobile (og tablet) */
.flexContainer-TabellogKart{

    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
    flex: 1 1 auto;

}
.footer{
    font-size: 100%;
}
